Repository avrdudes/avrdude, pull requests merged in 2025-06, with the labels that each got.

#2004 Devicepack update
  src/avrdude.conf.in
  src/pickit5_lut_updi.c
Labels: enhancement

#2006 Toughen command-line parsing before auto-erase
  src/update.c
Labels: bug

#2025 Update build.yml to enable macOS Python binding build
  .github/workflows/build.yml
Labels: enhancement, build_CI, Python

#2026 Adding pkg-config as a Linux build dependency
  .github/workflows/build.yml
Labels: build_CI

#2030 To restore MSVC Python Binding build
  .github/workflows/build.yml
Labels: build_CI, Python

#2036 To disable MSys2 Windows Python Binding in CI
  .github/workflows/build.yml
Labels: build_CI, Python

#2040 Update deploy.yml to use download-artifact@v4
  .github/workflows/deploy.yml
Labels: build_CI

#2042 Deduplicate programmer list in docs
  src/doc/programmers.sed
Labels: bug
